@charset "UTF-8";

/*Подключение функций, миксинов /=============================================================================*/

/*=============================================================================================================*/

/*Подключение шрифтов /=============================================================================*/

@font-face {
  font-family: Axiforma;
  font-display: swap;
  src: url("../fonts/Axiforma-Bold.woff2") format("woff2"), url("../fonts/Axiforma-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Axiforma;
  font-display: swap;
  src: url("../fonts/Axiforma-Regular.woff2") format("woff2"), url("../fonts/Axiforma-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/*=============================================================================================================*/

/*Размер шрифта по умолчанию /=============================================================================*/

/*=============================================================================================================*/

/*Контейнер и сетка /=============================================================================*/

.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.625rem;
  width: 100%;
}

/* .container{max-width: $mw; margin: 0 auto; width: 100%;
    @media (max-width: $md1){max-width: 970px;}
    @media (max-width: $md2){max-width: 750px;}
    @media (max-width: $md3){max-width: 470px; padding: 0 10px;}
    @media (max-width: $md4){max-width: 100%; padding: 0 10px;}
} */

/*=============================================================================================================*/

/*Иконочный шрифт /=============================================================================*/

/* @import 'icons'; */

/*=============================================================================================================*/

/*Обнуление /=============================================================================*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*=============================================================================================================*/

/*Переменные для адаптивного свойства /=============================================================================*/

/*=============================================================================================================*/

/*Основные цвета /=============================================================================*/

/*=============================================================================================================*/

/*Основные стили /=============================================================================*/

.employees {
  font-family: "Axiforma";
}

.employees__container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.125rem, 1fr));
  gap: 1.875rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.employees__item {
  border: 1px solid #EEEEEE;
  padding: 1.5rem 1.25rem;
}

.employees__item > *:not(:last-child) {
  margin-bottom: 1.5rem;
}

.employees__category {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  line-height: 140%;
  text-transform: uppercase;
  margin-bottom: 1.28125em;
}

.employees__category span {
  position: relative;
}

.employees__category span::after {
  content: "";
  position: absolute;
  width: 100%;
  background-color: #FF0404;
  bottom: -1.125rem;
  left: 0;
  height: 0.45625rem;
}

.employees__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.employees__image {
  border-radius: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 9.375rem;
          flex: 0 0 9.375rem;
  height: 9.375rem;
  position: relative;
  overflow: hidden;
  border: 0.1875rem solid #ffffff;
}

.employees__image_displaced {
  margin-right: -2.375rem;
  z-index: 2;
}

.employees__image img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.employees__info {
  text-align: center;
}

.employees__info > *:not(:last-child) {
  margin-bottom: 0.375rem;
}

.employees__name {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 140%;
}

.employees__profession {
  color: #969696;
  line-height: 140%;
  font-size: 1.125rem;
}

.employees__time-schedule {
  color: #969696;
  line-height: 140%;
  font-size: 1.125rem;
}

.employees__button {
  display: block;
  width: 100%;
  color: inherit;
  text-align: center;
  background-color: #EEEEEE;
  padding: 0.75rem 0.625rem;
  font-weight: 700;
  line-height: 140%;
  text-transform: uppercase;
}

.employees__button:not(:last-child) {
  margin-bottom: 0.125rem;
}

.contacts-employees__item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.contacts-employees__label {
  font-size: 0.875rem;
  line-height: 140%;
  color: #969696;
  margin-bottom: 0.7142857143em;
}

.contacts-employees__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  font-size: 1.5rem;
  color: inherit;
  line-height: 140%;
}

.contacts-employees__icon-watsApp {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.984375rem;
          flex: 0 0 1.984375rem;
}

@media (max-width: 47.99875rem) {
  .employees__item {
    padding: 1.125rem 0.625rem;
  }

  .employees__category {
    font-size: 1.5rem;
  }
}

@media (any-hover: hover) {
  .employees__button {
    -webkit-transition: background-color 0.4s, color 0.4s;
    -o-transition: background-color 0.4s, color 0.4s;
    transition: background-color 0.4s, color 0.4s;
  }

  .employees__button:hover {
    background-color: #000;
    color: #fff;
  }

  .contacts-employees__link {
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
  }

  .contacts-employees__link:hover {
    color: #FF0404;
  }
}